<section class="wrapper">

  <div class="container">
    <div class="row">

      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group">
                <h5 class="card-title text-left"> <span class="icon-con"><i class="fa fa-user-friends"></i></span> Invite new members
                </h5>
              </div>
              <div class="form-group">
                <span class="text-left">x</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-7">
                <label for="email-add">Email address</label>
                <input type="email" class="form-control" id="email-add" placeholder="Enter email address">
              </div>
              <div class="form-group col">
                <label for="fn">Full name</label>
                <input type="text" class="form-control" id="fn" placeholder="Enter full name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <a href="#" class="card-link"> <i class="fa fa-plus"></i> add another person</a>
              </div>
              <div class="form-group col">
                <a href="#" class="card-link"> <i class="fa fa-align-left"></i> add custom message</a>
              </div>
            </div>
            <div class="container">
              <hr>
              <small class="card-text text-center container">You'll be charged a prorated amount for each new member. <a href="#" class="card-link">See our billing guidelines.</a>
              </small>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary float-right">Invite</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>