<div class="wrapper">
  <div class="container">

    <div class="row top-link">
      <div class="col text-right">
        <a href="mailto:hi@witts-stratts.com?Subject=Hell Witts and Stratts">hi@witts-stratts.com</a>
      </div>
    </div>

    <section class="portfolio">

      <div class="row row-divider">
        <div class="col text-center greet">
          <h3>Hey! I'm</h3>
          <h4>your test project</h4>
          <h3>please code me</h3>
        </div>
      </div>
      
      <div class="row f">
        <div class="col-md-4 hover">
          <img src="../../assets/images/t1-p1.jpg" alt="image 1" class="img-fluid">
        </div>
        <div class="col-md-4 hover">
          <img src="../../assets/images/t1-p2.jpg" alt="image 2" class="img-fluid">
        </div>
        <div class="col-md-4 hover">
          <img src="../../assets/images/t1-p3.jpg" alt="image 3" class="img-fluid">
        </div>
      </div>

      <div class="row margin-top-sm s">
        <div class="col-md-4 hover">
          <img src="../../assets/images/t1-p4.jpg" alt="image 4" class="img-fluid">
        </div>
        <div class="col-md-4 hover">
          <img src="../../assets/images/t1-p5.jpg" alt="image 5" class="img-fluid">
        </div>
        <div class="col-md-4 hover">
          <img src="../../assets/images/t1-p6.jpg" alt="image 6" class="img-fluid">
        </div>
      </div>

    </section>

    <section>

      <div class="row row-divider show-off">
        <div class="col text-center">
          <h4>just showing off</h4>
        </div>
      </div>

      <div class="row partners">
        <div class="col hover">
          <img src="../../assets/images/logo_1.png" alt="logo1">
        </div>
        <div class="col hover">
          <img src="../../assets/images/logo_3.png" alt="logo3">  
        </div>
        <div class="col hover">
          <img src="../../assets/images/logo_18.png" alt="logo18">
        </div>
        <div class="col hover">
          <img src="../../assets/images/logo_7.png" alt="logo7">
        </div>
        <div class="col hover">
          <img src="../../assets/images/logo_11.png" alt="logo11">
        </div>
        <div class="col hover">
          <img src="../../assets/images/logo_2.png" alt="logo2">
        </div>
      </div>

    </section>

    <section>
      <div class="row row-divider">
        <div class="col text-center hi">
          <h4>Say hi, stranger!</h4>
          <h3><a href="mailto:hi@witts-stratts.com">hi@witts-stratts.com</a></h3>
        </div>
      </div>

      <div class="row social">
        <div class="col text-center icons">
          <a href="https://www.facebook.com/">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.twitter.com/">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.dribble.com/">
            <i class="fab fa-dribbble"></i>
          </a>
          <a href="https://www.medium.com/">
            <i class="fab fa-medium-m"></i>
          </a>
        </div>
      </div>

    </section>

    <footer class="text-center footer">
      <small>Written in a code only a mother could love <br>
      &copy; Witts & Stratts</small>
    </footer>

  </div>
</div>
